aiodns==2.0.0
aiohttp==3.7.4
appdirs==1.4.4
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
cchardet==2.1.6
certifi==2023.7.22
cffi==1.14.0
chardet==3.0.4
conda==4.3.16
cryptg==0.2.post1
distlib==0.3.1
filelock==3.0.12
hachoir==3.1.1
idna==2.9
multidict==4.7.5
pyaes==1.6.1
pyasn1==0.4.8
pycares==3.1.1
pycosat==0.6.3
pycparser==2.20
pyspeedtest==1.2.7
requests==2.24.0
rsa==4.7
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
Telethon==1.21.1
typing-extensions==3.10.0.0
urllib3==1.26.5
yarl==1.4.2
